/* Additional CSS for design enhancements */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  /* background-image: url('/images/hero-background.jpg'); Assuming the image is in a folder named 'images' in your project */
  background-size: cover;
  background-position: center;
}


.hero-content {
  text-align: center;
}

.typewriter-text {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


.section {
  border-radius: 20px; /* Adjust as needed */
  margin-bottom: 20px; /* Add some space between sections */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  border-radius: 20px;
  margin-bottom: 20px;
  animation: slideIn 0.5s ease forwards; /* Apply animation */
}
